.dashboard-grid-wrapper {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "dashboard-header dashboard-header"
    "dashboard-left-sidebar dashboard-main"
    "dashboard-left-sidebar dashboard-main";
  height: 100vh;
  overflow: hidden;
}
.dashboard-grid-header {
  grid-area: dashboard-header;
  box-sizing: border-box;
}

.dashboard-left-sidebar {
  grid-area: dashboard-left-sidebar;
  box-sizing: border-box;
  background: white;
}

.dashboard-grid-main {
  grid-area: dashboard-main;
  box-sizing: border-box;
  background: #f7f9fa;
  overflow-y: auto;
}

.sidebar-sticky {
  border-top: 20px solid #e0475c;
  background-color: #2c3b56;
  height: 100%;
}

.dashboard-grid-main::-webkit-scrollbar {
  display: none;
}

.dashboard-grid-main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
