.hero-unit {
  height: 1200px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.primary-text-color {
  color: #2c3a56;
}
.hero-text-secondary {
  font-size: 20px;
}

.how-it-works-section {
  margin-top: -475px;
  background-color: white;
  z-index: 9999999;
  border: 2px solid red;
}

.text-light-card {
  color: #e1e2e5;
}

.custom-font {
  font-size: 15px;
  line-height: 1.4;
}
