
  .register-card {
    width: 50% !important;
    height: 100%;
  }
  .login {
    align-items: center;
  }
  .club-images {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 15px;
    filter: grayscale(100%);
  }
  .curve-border {
    border: 0;
    border-top-left-radius: 30% 5%;
    border-top-right-radius: 30% 5%;
  }

